
body {
 background:rgb(35, 110, 133) url(img/a.jpg) repeat-y left;
 margin:0 150px;
 color:chocolate(168, 153, 53);
}
h2 {
 text-align:center;
 font:bold 1.5em "Cooper Black";
 color:rgb(14, 1, 1);
}
/* Estilos para el formulario de captura de datos */
fieldset {
 background-color:rgb(115, 121, 158);
 width:40%;
 position:relative;
 left:50%;
 margin:1em 0;
 margin-left:-28%;
 padding:2em;
 border:4px solid black;
}
span, label, legend {
 font:bold 30%pt "Bell MT";
 color:rgb(39, 34, 3);
 background-color:rgb(178, 199, 202);
}
label {
 display:block;
}
input.inputField {
 width:500px; 
 background-color:rgb(205,250,205);
 font:bold 15pt Perpetua,sans-serif;
 color:rgb(169, 171, 190);
}
.inputField:hover, .inputField:focus {
 background-color:Khaki; 

 }
input.inputButton {
 width:30%;
 background-color:black;
 color:rgb(89, 143, 143);
 font:bold 15pt "Myriad Pro",Verdana,sans-serif;
 position:relative;
 left:15%;
 margin:20px 10px;
}
.inputButton:hover, .inputButton:focus{
 background-color:black;
 color:rgb(94, 50, 61);
}
/* Estilos para la boleta de pago */
h3 {
    text-align:center;
    font:bold 1.5em "Cooper Black";
    color:rgb(14, 1, 1);
   }
   
table {
 border-collapse:collapse;
 border:5px ridge rgb(5,25,5);
 padding:10px;
 margin:1em 0;
 margin-left:+37%;
}
table tr {
 border-collapse:collapse;
 border:10px solid rgb(53, 51, 63);
 
}
table td {
 font:normal 12pt "Lucida Sans",Verdana,Helvetica,sans-serif;
 color:rgb(243, 247, 252);
 padding:5px;
}

